@import "./reset.css";
@import "./fonts.css";

body {
  font-family: "Montserrat", sans-serif;
  color: #FEF4E6;
}

/* Header */

.header {
  background-image: linear-gradient(90deg, rgba(0,0,1,1) 0%, rgba(0,0,1,0.8) 23%, rgba(0,0,0,0) 100%),
                    url("../images/young-content-creator-smiling-blonde-girl-with-headphones-working-her-laptop-table-with-camera 1.jpg");
  width: 100%;
  height: 1001px;
}

.container {
  width: 1404px;
  height: 1001px;
  margin: 0 258px;
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  width: 1404px;
  padding-top: 70px;
}

.logo::first-letter {
  font-size: 40px;
  font-weight: 800;
  color: #DC3635;
}

.logo {
  width: 178px;
  height: 28px;
  font-size: 40px;
  color: #FFFFFF;
  font-weight: 400;
}

/* nav-bar */

.nav {
  display: flex;
  width: 848px;
  height: 49px;
  margin-left: 178px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  column-gap: 35px;
  font-weight: 500;
  font-size: 24px;
  padding: 16px 16px;
}

.nav-item {
  display: flex;
}

.nav-link {
  color: #FEF4E6;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-button {
  width: 189px;
  height: 52px;
  background-color: #DC3635;
  margin-left: 11px;
}

.download-cv {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2%;
}

/*header content*/

.header-content-container {
  width: 846px;
  height: 366px;
  margin-top: 211px;
  margin-left: -6px;
}

.ramisha {
  font-size: 96px;
  color: #DC3635;
  line-height: 68px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.profession {
  padding: 35px 8px 0;
  font-size: 48px;
  font-style: italic;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: 1.5px;
  color: #FEF4E6;
}

.header-content-text {
  padding: 30px 16px 0 8px;
  font-size: 24px;
  color: #FEF4E6;
  letter-spacing: 0.5px;
  font-weight: 400;
  text-align: justify;
}

.button-hire-me {
  margin-left: 8px;
  margin-top: 26px;
  width: 189px;
  height: 52px;
  background-color: #DC3635;
}

.hire-me {
  font-size: 21px;
  text-align: justify;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #FFFFFF;
}

.button-contact-me {
  margin-top: 26px;
  margin-left: 38px;
  width: 189px;
  height: 52px;
  background-color: #FEF4E6;
}

.contact-me {
  font-size: 21px;
  text-align: justify;
  letter-spacing: 0.5px;
  color: #000000;
  font-weight: 500;
}

/* about me */

.about-me-container {
  display: flex;
  flex-direction: row;
  margin-top: 66px;
  margin-left: 64px;
  width: 1597px;
  height: 970.65px;
}

.photo-container {
  width: 798px;
  height: 876.22px;
  margin-left: 35px;

}

.my-photo {
  width: 100%;
  height: 100%;
}

.about-me-info-container {
  width: 700px;
  margin-top: 178px;
  margin-left: 64px;
}

.about-me {
  font-size: 55px;
  color: #000;
  font-weight: 600;
  line-height: 38px;
  text-shadow: 1px 4px 4px #C0C0C0;
  letter-spacing: 1px;
}

.about-me-text {
  margin-top: 23px;
  font-size: 24px;
  color: #000;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 137%;
  text-shadow: 1px 4px 4px #C0C0C0;
}

/*ranges*/

.skills-container {
  margin-top: 12px;
}

.skills {
  margin-bottom: 23px;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  text-shadow: 1px 4px 4px #C0C0C0;
}

.range-container {
  margin-top: 20px;
  margin-bottom: 15px;
}

.range-ux {
  -webkit-appearance: none;
  width: 700px;
  height: 20px;
  background:-webkit-linear-gradient(left, #DC3635 0%, #DC3635 93%, #D9D9D9 93%, #D9D9D9 100%);
  box-shadow: 0px 4px 3px #C0C0C0;
}

.range-app {
  -webkit-appearance: none;
  width: 700px;
  height: 20px;
  background:-webkit-linear-gradient(left, #DC3635 0%, #DC3635 88%, #D9D9D9 88%, #D9D9D9 100%);
  box-shadow: 0px 4px 3px #C0C0C0;
}

.range-graph {
  -webkit-appearance: none;
  width: 700px;
  height: 20px;
  background:-webkit-linear-gradient(left, #DC3635 0%, #DC3635 95%, #D9D9D9 95%, #D9D9D9 100%);
  box-shadow: 0px 4px 3px #C0C0C0;
}

.range-web {
  -webkit-appearance: none;
  width: 700px;
  height: 20px;
  background:-webkit-linear-gradient(left, #DC3635 0%, #DC3635 93%, #D9D9D9 93%, #D9D9D9 100%);
  box-shadow: 0px 4px 3px #C0C0C0;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #EBEBEB;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 2px solid;
  border-color: #DC3635;
  box-shadow: 2px 3px 4px #808080;
}

/*services*/

.services-container {
  margin: 40px auto 0;
  width: 1398px;
  color: #000;
}

.services {
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
}

.services-text {
  margin-left: 117px;
  margin-top: 20px;
  width: 1164px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;

}

.services-cards {
  display: flex;
  margin-top: 69px;
  justify-content: space-between;
}

.services-card {
  width: 327px;
  height: 350px;
  background: #FFECEC;
  border-radius: 10px;
}

.icon {
  display: block;
  margin-top: 52px;
  margin-left: 17px;

}

.knowledge {
  display: block;
  margin-left: 17px;
  margin-top: 22px;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  text-align: left;
}

.knowledge-text {
  margin: 22px 17px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

/* projects */

.projects-container {
  width: 1400px;
  margin: 125px auto 144px;
  color: #000;
}

.projects {
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 137%;
}

.project-text {
  margin-left: 117px;
  margin-top: 5px;
  width: 1164px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.37;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 55px auto 0;
  width: 897px;
}

.projects-button {
  background: #FFECEC;
  padding: 7px 9px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
}

.projects-button-active {

}

.project-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}
