doctype html
html(lang='en')
  head
    include templates/head

  body
    include templates/header/header

    include templates/home
    include templates/features
    include templates/portfolio
    include templates/contact

    script(type='text/javascript' src='scripts/client.js')
