section#contact
  .grid.grid-full
    h2.title Contacts
    p.offer Want to know more or just chat?
      br
      .
        You are welcome!

    button.email(type='button') Send message

    .socials
      a(href='#')
        img(src='images/social-linkedin.png' alt='LinkedIn')
      a(href='#')
        img(src='images/social-instagram.png' alt='Instagram')
      a(href='#')
        img(src='images/social-behance.png' alt='Behance')
      a(href='#')
        img(src='images/social-dribble.png' alt='Dribble')

    p.hint Like me on
      br
      .
        LinkedIn, Instagram, Behance, Dribble
