section#features
  .grid.grid-full
    .flex.gap.content
      .grid.grid-one-third
        article.feature
          img(src='images/feature-design.png' alt='')
          span.title UI/UX DESIGN
          span.description
            | Our design is translated into comprehensive digital environments
            | built on latest development standards.

      .grid.grid-one-third
        article.feature
          img(src='images/feature-development.png' alt='')
          span.title DEVELOPMENT
          span.description
            | Our design is translated into comprehensive digital environments
            | built on latest development standards.

      .grid.grid-one-third
        article.feature
          img(src='images/feature-testing.png' alt='')
          span.title SOFTWARE TESTING
          span.description
            | Our design is translated into comprehensive digital environments
            | built on latest development standards.
