section#home
  .grid.grid-full.h-full
    .flex.content
      .grid.grid-half
        .text
          h1.title Kelvin Kramer
            br
            .
              Designer & Developer
          p.subtitle I'm a portrait, fashion and lifestyle photographer living in New York City.
            br.hide-on-small
            .
              During my thirteen year tenure here.

      .grid.grid-half.a-self-end
        .hero
          img.heroman(src='images/hero.png' alt='Hero')
