ul.nav-list
  li.nav-item
    a.nav-link(href='#home') Home
  li.nav-item
    a.nav-link(href='#features') Features
  li.nav-item
    a.nav-link(href='#portfolio') Portfolio
  li.nav-item
    a.nav-link(href='#contact') Contact
