section#portfolio
  .grid.grid-full
    h2.title Portfolio

    article.case
      img(src='images/case-fashion.jpg' alt='Online fashion store - Homepage')
      a.link(href='#') Online fashion store - Homepage

    article.case
      img(src='images/case-reebok.jpg' alt='Reebok Store - Concept')
      a.link(href='#') Reebok Store - Concept

    article.case
      img(src='images/case-braun.jpg' alt='Braun Landing Page - Concept')
      a.link(href='#') Braun Landing Page - Concept
